#main-flex-container {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

#chat-flex-container {
  flex-grow: 2;
}

@media screen and (min-width: 700px) {
  #main-flex-container {
    flex-direction: row;
  }

  #notificator-flex-container {
    min-width: 300px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  #main-flex-container {
    justify-content: space-around;
  }

  #notificator-flex-container, #chat-flex-container {
    margin: 10px 40px;
  }
}

.message-from, .login-go {
  font-weight: bold;
}

.modal {
  display: block;
}

.at-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
