<template name="greeting">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Who you are?</h4>
                </div>
                <div class="modal-body">
                    <form id="loginForm">
                        <div class="form-group label-floating">
                            <input class="form-control" name="login" type="text" autocomplete="off">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>