<template name="userList">
    <div id="userList" class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">User list</h3>
        </div>
        <div class="panel-body">
            <div class="user-list">
                <div class="user">
                    <div class="">
                        <img class="circle" src="user.jpeg" alt="icon">
                    </div>
                    <div class="">
                        <h4 class="">Nadarik</h4>
                    </div>
                </div>
                <div class="user">
                    <div class="">
                        <img class="circle" src="user.jpeg" alt="icon">
                    </div>
                    <div class="">
                        <h4 class="">Nadarik</h4>
                    </div>
                </div>
                <div class="user">
                    <div class="">
                        <img class="circle" src="user.jpeg" alt="icon">
                    </div>
                    <div class="">
                        <h4 class="">Nadarik</h4>
                    </div>
                </div>
                <div class="user">
                    <div class="">
                        <img class="circle" src="user.jpeg" alt="icon">
                    </div>
                    <div class="">
                        <h4 class="">Nadarik</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>