<template name="notificator">
    <div id="notificator" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Notify people</h3>
        </div>
        <div class="panel-body">
            <form id="notificatorForm">
                <div class="form-group label-floating">
                    <label class="control-label" for="notificationInput">Send notification</label>
                    <input {{disableIfNotLoggedIn}} class="form-control" id="notificationInput" name="notification" type="text" autocomplete="off">
                </div>
            </form>
        </div>
    </div>
</template>